@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,600');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

strong {
    font-weight: 600;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
    font-weight: 400;
}

body {
    margin: 0;
    color: #131313;
}

main {
    margin-top: 16px;
    position: relative;
    overflow: auto;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding: 50px 150px;
}

.bg-1 {
    background: #F7F7F8;
}

.bg-2 {
    background: #E3F2FD;
}

.bg-2::after {
    background: #121212;
}

.bg-3 {
    background: #F9FBE7;
}

.bg-4 {
    background: #E0F7FA;
}

.bg-5 {
    background: #FFF3E0;
}

.bg-6 {
    background: #F5FFED;
}

.bg-7 {
    background: #FCE4EC;
}

.bg-lines {
    background: url("/assets/img/bg_lines.svg") no-repeat center;
    background-size: cover;
}

.side-links {
    position: fixed;
    right: -80px;
    top: 40%;
    display: flex;
    rotate: 90deg;
    z-index: 999999;
}

.side-links svg {
    margin: 0 4px 0 0;
}

.side-links a {
    color: #131313;
    text-decoration: none;
}

a:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.section-img {
    max-width: 75%;
    max-height: 512px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    width: 5%;
}

.text-secondary {
    color: #ED7317 !important;
}

.social-link {
    background: #FF679A;
    border-radius: 100%;
    border: none;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    line-height: 1.5em;
}

.carousel-item {
    min-height: 80vh;
}

@media screen and (max-width: 768px) {
    section {
        padding: 50px 25px;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1em;
    }

    .navbar-brand img {
        width: 56px;
        margin-right: 8px;
    }

    .side-links {
        right: -100px;
        top: 32%;
        font-size: smaller;
    }

    .side-links svg {
        width: 24%;
    }
}

.header {
    margin: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}